Package: oldabi
Name: Legacy arm64e Support
Version: 2.0
Architecture: iphoneos-arm64
Description: Support for legacy arm64e ABI in iOS 15.0+
Maintainer: Nightwind
Author: Nightwind
Section: Tweaks
Depends: ellekit (>= 0.4), cy+cpu.arm64e, firmware (>= 15.0)
